{#
| Variable                        | Type     | Description                                                                  |
|---------------------------------|----------|------------------------------------------------------------------------------|
| component                       | object   | Contains merchant settings for fields from twilight.json `component` section |
| component.banners               | object[] | list of banners                                                              |
| component.banners[].image       | string   |                                                                              |
| component.banners[].url         | string   |                                                                              |
| component.banners[].title       | ?string  |                                                                              |
| component.banners[].description | ?string  |                                                                              |
| position                        | int      | Sorting number start from zero                                               |
#}

<section class="s-block s-block--banners container">
  <div class="grid grid-cols-2 {{ component.banners|length <= 3 ? 'md:grid-cols-' ~ component.banners|length : 'md:grid-cols-3 two-row' }} grid-flow-row gap-3 sm:gap-8">
    {% for index, banner in component.banners %}
      <a href="{{ banner.url }}"
         aria-label="{{ banner.title ? banner.title : 'category-banner-' ~ index }}"
         class="block relative overflow-hidden rounded-md">
         
        <img src="{{ banner.image }}" alt="{{ banner.title }}" class="w-full h-full object-cover aspect-square" loading="lazy" />

        {% if banner.title or banner.description %}
          <article class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 text-white p-3">
            <h3 class="font-bold text-sm mb-1">{{ banner.title }}</h3>
            <p class="text-xs">{{ banner.description }}</p>
          </article>
        {% endif %}

      </a>
    {% endfor %}
  </div>
</section>
